@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    color: #f8f8f8;
    background-color: #121213;
}

.main-container {
    padding: 20px;
    text-align: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.game-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.cow {
    margin: 5px;
    padding: 20px;
    border-radius: 20px;
    transition: 0.4s;
}

.cow p {
    padding-top: 20px;
}

.cow:hover {
    background-color: #272727;
    /* border: 1px solid transparent; */
    /* font-size: 19px; */
}

.cow h3 {
    padding-top: 5px;
    /* font-size: 18px; */
    /* font-style: italic; */
}

.bottom-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bottom-container i {
    /* float: left; */
    /* margin-left: 20px; */
    /* position: absolute; */
    /* left: 0; */
}

#guess-btn {
    padding: 10px 20px 10px 20px;
    border: 1px solid #f8f8f8;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    color: #f8f8f8;
    background-color: #121213;
    transition: 0.3s;
}

#guess-btn:hover {
    background-color: #3a3a3a;
}

#hidden-link {
    all: unset;
    cursor: pointer;
}

#share {
    padding-right: 50px;
    color: rgb(143, 160, 255);
}

#stats {
    color: greenyellow;
}